@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&family=Pacifico&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /* text-align: center; */
    scroll-padding-top:1.5rem;
}

.label-divider{
    width: 0.5px;
    background-color: #181818;
    font-weight: bolder;
    border-color: #181818;
}
.language-label input[type="radio"]:hover + p{
    color: #5CB4E8;
} 
.language-label input[type="radio"]:checked + p {
    color: #8756FF; /* Warna teks ketika input terpilih */
    font-weight: bold;
}
.slider-Text {
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Source Code Pro', monospace;
    /* -webkit-text-stroke: 3px black; */
}
.name{
    font-family: 'Kalnia', serif;
}

@font-face {
    font-family: "Kaftan";
    src: url(/font/kaftan-trial.otf);
}

.fontKaftan{
    font-family: "Kaftan" ;
}